   <div class="row" ng-init="match.load()">
     <div class="col-md-12">
             
                <div class="card large hoverable" >
                    <div class="card-content">
                        <span class="card-title">
                            <h3 class="center-align" style="color: #337ab7;">{{match.pageheading}}</h3>
                        </span> 
                        <hr>
                        <h4 class="center-align">Teams</h4>
                        <span><h5 class="center-align" style="color: orange;">Team1 : {{match.team1name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Team2 : {{match.team2name}} </h5></span>  
                        <hr>
                       <h4 class="center-align">Scores</h4>
                       <span><h5 class="center-align" style="color: #07dc83;">Score1 : {{match.team1score}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Score2 : {{match.team2score}} </h5></span>   
                       <hr>
                       <h4 class="center-align">Match Date</h4>
                       <span><h5 class="center-align">{{match.date}} </h5></span>                   
                    </div>
                </div>
                
                
       </div>

       <div class="col-md-12">
      <ul class="pager">
                    <li class="next">
                        <a href="#!/">Back to Home &rarr;</a>
                    </li>
                </ul>

   </div>